.container{
    display: flex;
    flex-wrap: wrap;
}
.divs{
    background-color:beige;
    border: 2px solid;
    border-radius: 3%;
    margin-right: 5px;
    padding-right: 50px;
    padding-left: 50px;
    text-align: center;
}
