body {
  font-family: Arial, sans-serif;
  background-color: #e9e6e6;
  margin: 0;
  padding: 0;
}
.nav{
    display: flex;
    border: #333 solid;
    align-items: center;
    column-gap: 10px;
    height: 50%;
    width: auto;
}
.nav > p,a{
    padding-right: 0%;
    font-size:40px;
    text-decoration: none;
    color: #333;
}
a:hover{
    border: #333 solid 2px;
    padding: 2px;
}

#bem{
    width: 85%;
    font-size: 400%;
}
p{
    font-size: 120%;
}

h1 {
  color: #333;
  margin-left: 20px;

}
form {
  max-width: 500px;
  margin: 20px auto;
  padding: 15px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  display: flex;
  gap: 10px;
}
img {
  display: block;
  margin: 20px auto;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
.container{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 15px;
}
.divs{
    background-color:beige;
    border: 2px solid;
    border-radius: 3%;
    margin-right: 5px;
    padding-right: 50px;
    padding-left: 50px;
    text-align: center;
}